@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}
#page-header, #page-footer {
    background-color: aqua;
    border-radius: 5px;
}
.fancy {
    font-family: 'Raleway', sans-serif;
}
#picture {
    position: relative;
    top: 2%;
    right: 10%;
}
