@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Poppins&display=swap');
/* baseline view */
header {
	  margin: 0 auto;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin: 0 auto;
    color: #f9f9f9;
    font-size: 1rem;
    background-color: #585563;
}
body {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    background-color: #f9f9f9;
}
nav {
    margin: 0 auto;
    max-width: 900px;
		background-color: #274060;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 80%;
}
nav ul {
		list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.navigation li {
    display: none;
}
.responsive li {
    display: block;
}
nav li a {
  padding: 20px;
	display: block;
	color: #f9f9f9;
	text-align: center;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #bcf7f7;
	color: #f9f9f9;
}
.active {
	color: #ffdc51;
}
main {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    color: #585563;
}
.wrapper {
	display: flex:
}
.wrapper > div {
	border-radius: 5px;
	padding: 1em;
}
.box1, .box3 {
	background-color: #bcf7ff;
}
.box2, .box4 {
	background-color: #585563;
	color: #f9f9f9;
}
footer {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: #274060;
    color: #f9f9f9;
}
footer a {
    color: #f9f9f9;
}

/* media query for medium & large screens*/
@media only screen and (min-width: 37.5em) {

main {
    min-height: 300px;
}
.navigation {
    display: flex;
}
.navigation li {
    display: block;
    flex: 1 1 100%;
}
nav a {
    font-size: 1rem;
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px 100px 100px;
	grid-gap: 10px;
	}
.box1 {
	grid-column: 2 / 4;
	grid-row: 1;
}
.box2 {
	grid-column: 2;
	grid-row: 2 / 5;
	}
.box3 {
	grid-column: 3 / 5;
	grid-row: 2 / 5;
	}
 .box4 {
	grid-column: 4;
	grid-row: 1;
}
	footer {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50px;
		
	}

}

/* desktop */
@media only screen and (min-width: 60em) {

nav a {
    font-size: 1.1rem;
}

}