@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Poppins&display=swap');
/* baseline view */
header {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin: 0 auto;
    color: #f9f9f9;
    font-size: 1rem;
    background-color: #585563;
}
body {
    max-width: 900px;
    text-align: center;
    margin: auto;
    background-color: #f9f9f9;
}
nav {
    margin: 0 auto;
    max-width: 900px;
	background-color: #274060;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 80%;
}
nav ul {
	list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.navigation li {
    display: none;
}
.responsive li {
    display: block;
}
nav li a {
    padding: 20px;
	display: block;
	color: #f9f9f9;
	text-align: center;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #bcf7f7;
	color: #f9f9f9;
}
.active {
	color: #ffdc51;
}
main {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    color: #585563;
}
footer {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: #274060;
    color: #f9f9f9;
}
footer a {
    color: #f9f9f9;
}

/* media query for medium & large screens*/
@media only screen and (min-width: 37.5em) {

main {
    min-height: 300px;
}
.navigation {
    display: flex;
}
.navigation li {
    display: block;
    flex: 1 1 100%;
}
nav a {
    font-size: 1rem;
}

}

/* desktop */
@media only screen and (min-width: 60em) {

nav a {
    font-size: 1.1rem;
}

}