@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Poppins&display=swap');
/* baseline view */
header {
    font-family: 'Berkshire Swash', cursive;
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
    color: #f9f9f9;
    font-size: 1rem;
    background-color: #7085a0;
    align-items: center;
    justify-content: center;
}
body {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    background-color: #f9f9f9;
	justify-content: center;
}
nav {
    margin: 0 auto;
    max-width: 900px;
	background-color: #274060;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
img {
    max-width: 80%;
}
nav ul {
		list-style: none;
    padding: 0;
}
nav ul li a {
	padding: 10px;
	display: block;
	text-align: center;
	color: #f9f9f9;
	font-size: 0.95rem;
	text-decoration: none;
}
.navigation li {
    display: none;
}
.navigation li:first-child {
	display: block;
}
.responsive li {
    display: block;
}
nav a:hover {
	background-color: #bcf7f7;
	color: #f9f9f9;
}
.active {
	color: #ffdc51;
}
main {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    color: #585563;
}
.wrapper {
    display: flex;
}
.wrapper > div {
	border-radius: 5px;
	padding: 1em;
}
.box1, .box3 {
	background-color: #bcf7ff;
}
.box2, .box4 {
	background-color: #585563;
	color: #f9f9f9;
}
.weatherSummary {
	background-color: #ffdc51;
	
	
}
footer {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: #274060;
    color: #f9f9f9;
}
footer a {
    color: #f9f9f9;
}

