@media only screen and (min-width: 37.5em) {

    main {
        min-height: 300px;
        align-content: center;
    }
    header img {
        width: 80%;
    }
    body {
        margin-right: auto;
        margin-left: auto;
    }
    nav a {
        font-size: 1rem;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li:first-child {
        display: none;
    }
    .active {
        font-size: 1.5rem;
    }
    .box2 {
        display: block;
        position: relative;
        margin: 0 auto;
        color: #585563;
        justify-content: center;
        max-width: 920px;
        padding: 10px;
    }
    .forecast-table {
        display: flex;
        justify-content: center;
        text-align: center;
        border-spacing: 5px;
    }
th {
    color: #585563;
    background-color: #bcf7ff;
    padding: 10px;
}
td {
    color: #585563;
    background-color: #f9f9f9;
    padding: 10px;
}
.gallery-grid {
    grid-template-columns: 1fr 1fr;
}
.box3 {
    display: flex;
}
.box3pic {
    display: flex;
    padding: 10px;
}
.box4 {
    display: flex;
}
.preston-map {
    display: flex;
    padding: 10px;
}

.town-data {
    flex-grow: 2;
    padding: 50px;
    margin: auto;
}
.towns img {
    width: 75%;
    float: right;
    flex-grow: 1;
    border-radius: 25px;
}
/*.towns section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    text-align: center;
    margin: 0;
}
.towns p, em {
    grid-column: 1;
}*/
article:nth-child(3) {
	display: flex;
	flex-direction:row-reverse;
}
article {
    flex-direction: row;
}
}