header {
    font-family: 'Meddon', cursive;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    color: #5f506b;
    text-align: left;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
}
.subheader {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    line-height: 2em;
    font-kerning: 1.2em;
}
.page-header {
    font-family: 'Meddon', cursive;
    font-size: 1.5rem;
}
h6 {
    display: none;
}
body {
    text-align: center;
    margin: 0 auto;
    background-color: #f9f9f9;
	justify-content: center;
}
nav {
    font-family: 'Fira Sans', sans-serif;
    margin: 0 auto;
    background-color: #5f506b;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a {
	padding: 10px;
	display: block;
	text-align: center;
	color: #f4f4f4;
	font-size: 0.95rem;
	text-decoration: none;
}
.navigation li {
    display: none;
}
.navigation li:first-child {
	display: block;
}
.responsive li {
    display: block;
}
nav a:hover {
	background-color: #e2c752;
	color: #393d3f;
}
.active {
    color: #f4f4f4;
    background-color: #393d3f;
}
.sub-hero {
    position: relative;
    color: #5f506b;
    background-color: #e2c752;
    padding: 5px;
}
.heroText {
  position: relative;
  top: 50%;
  bottom: 50%;
  float: left;
  padding: 10px 0px 10px 20px;
}
.callToAction {
  position: relative;
  top: 50%;
  bottom: 50%;
}
main {
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    max-width: 1200px;
    margin: auto;
    color: #393d3f;
    padding: 20px;
}
.button {
    background-color: #5f506b;
    border: none;
    color: #f4f4f4;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
/*.box1, .box3, .box4 {
    max-width: 920px;
    margin: 1rem;
    padding: 10px;
}
.box2 {
    display: none;
}
.box3 {
    display: block;
    background-color: #393d3f;  
}
.temple {
    color: #393d3f;
    text-align: left;
    padding: 10px;
}
.box4 {
    display: block;
	background-color: #f4f4f4;
    color: #393d3f;
    text-align: left;
    border: solid 2px #393d3f;
    border-radius: 5px;
}*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}
ul {
	list-style: none;
}
.temple-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: center;
}
.temple-block {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 10px;
    border: 2px solid #e2c752;
    border-radius: 15px;
    margin: 10px;
}
.templePics {
    align-items: center;
}
.templeInfo {
    text-align: left;
    font-size: small;  
    padding: 15px;
}
.info {
    display: flex;
    padding: 10px; 
  }
  input[type=submit] {
      background-color: #5f506b;
      border: none;
      color: #f4f4f4;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
  }
  .fancy {
    font-family: 'Meddon', cursive;
    font-size: larger;
  }
  .weatherSummary {
      text-align: left;
      font-size: small;
      color: #f4f4f4;
      background-color: #5f506b;
      border-radius: 15px;
      padding: 5px;
  }
.sessions {
    text-align: left;
    font-size: small;
}
.temple-schedule {
    background-color: #e2c752;
    border-radius: 15px;
    padding: 15px;
}
.closures {
    padding: 15px;
}
.day {
    font-weight: 700;
}
.info-block {
    display: flex;
    flex-direction: column;
}
.map {
    display: none;
}
.contact-info {
    padding: 10px;
}
.socialLogo {
    max-width: 50px;
}
iframe {
    width: 400px;
    height: 300px;
}
footer {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    max-width: 900px;
    padding: 20px;
    margin: auto;
    background-color: #5f506b;;
    color: #f4f4f4;
}
footer a {
    color: #f4f4f4;
}