@media only screen and (min-width: 37.5em) {

    main {
        min-height: 300px;
        align-content: center;
    }
    header img {
        width: 80%;
    }
    body {
        margin-right: auto;
        margin-left: auto;
    }
    nav a {
        font-size: 1rem;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li:first-child {
        display: none;
    }
    .temple-container {
        width: 1200px;
        padding: 20px;
        
    }
    .temple-block {
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin: 15px;
    }
    .sessions {
        width: 900px;
       flex-direction: row;
       background-color: #e2c752;
    }
    .templePics {
        margin-bottom: 10px;
    }
    .templeInfo {
        color: #f4f4f4;
        width: 60%;
        padding: 20px;
    }
    .closures {
        border-left: 4px solid #f4f4f4;
    }
    .info-block {
        width: 900px;
        flex-direction: row;
        background-color: #5f506b;
        margin: 10px;
    }
    .weatherSummary {
        width: 40%;
        border-right: 3px solid #f4f4f4;
        border-radius: 0px;
        padding: 20px;
    }
    .map {
        display: flex;
        padding: 10px;
    }

}