@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Poppins&display=swap');
/* baseline view */
header {
    font-family: 'Berkshire Swash', cursive;
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
    color: #f9f9f9;
    font-size: 1rem;
    background-color: #585563;
    align-items: center;
    justify-content: center;
}
body {
    text-align: center;
    margin: 0 auto;
    background-color: #f9f9f9;
	justify-content: center;
}
nav {
    margin: 0 auto;
	  background-color: #274060;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
header img {
    max-width: 80px;
    height: auto;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a {
	padding: 10px;
	display: block;
	text-align: center;
	color: #f9f9f9;
	font-size: 0.95rem;
	text-decoration: none;
}
.headerTitle {
    padding: 10px;
}
.headerTitle2 {
  font-family: 'Poppins', sans-serif;
}
.navigation li {
    display: none;
}
.navigation li:first-child {
	display: block;
}
.responsive li {
    display: block;
}
nav a:hover {
	background-color: #bcf7f7;
	color: #585563;
}
.active {
    color: #585563;
    background-color: #f9f9f9;
}
main {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    max-width: 900px;
    margin: auto;
    color: #585563;
    padding: 20px;
}

/* wrapper used last week, may eliminate
.wrapper {
    display: block;
}
.wrapper > div {
	border-radius: 5px;
	padding: 1em;
}*/

.heroBanner {
    position: relative;
    margin: 10px auto;
}
.heroBanner img {
    max-width: 900px;
    height: auto;
}
.weatherSummary {
    position: absolute;
    top: 20px;
    left: 40px;
    background-color: #ffdc51;
    opacity: .7;
    padding: 1.5rem;
    box-shadow: 0 0 30px #585563;
}
.box1, .box2, .box3, .box4 {
    margin: 1rem;
    padding: 10px;
}
.box3 {
    display: flex;
    background-color: #bcf7ff;  
}
.box2 {
    color: #585563;
}
.box4 {
    display: flex;
	background-color: #585563;
    color: #f9f9f9;
    text-align: left;
}
.box4 img {
    max-width: 250px;
    height: auto;
    padding: 10px;
}
.forcast-table {
    margin: 0 auto;
    text-align: center;
    border-spacing: 5px;
    border: solid 1px #585563;
}
th {
    color: #585563;
    background-color: #bcf7ff;
    padding: 10px;
}
td {
    color: #585563;
    background-color: #f9f9f9;
    padding: 10px;
}
.socialLogo {
    max-width: 45px;
}
footer {
    font-family: 'Poppins', sans-serif;
    max-width: 900px;
    padding: 20px;
    margin: auto;
    background-color: #274060;
    color: #f9f9f9;
}
footer a {
    color: #f9f9f9;
}
