
form fieldset {
    margin: 2rem 0;
    border: 1px solid #274060;
    border-radius: 10px;
    padding: .5rem 2%;
    text-align: left;
}
form legend {
    color: #274060;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.info, form div {
    display: block;
    padding-top: 1rem;
    color: #274060;
    font-size: .8rem;
}
form label.info input, form label.info select, form label.info textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgb(0,0,0,0.1);
    box-sizing: border-box;
}
form label.mid {
    display: block;
    padding: .75rem;
    color: #274060;
}
form label.submitButton {
    background-color: #ffdc51;
    color: #274060;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
}
form label.info input:required {
    border-left: #ffdc51 solid 6px;
}
form label.info input:required:valid {
    border-left: #274060 solid 6px;
}
.slider {
    display: flex;
    align-items: center;
    padding: 5px;
}
.thanks {
    font-family: 'Berkshire Swash', cursive;
}