@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

header {
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
}
body {
}
section {
    padding: 10px;
    margin: auto;
}
table, th, td {
    border: 1px, solid grey;
    border-collapse: collapse;
}
table {
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 5px #628ca6;
}
th {
    font: bold;
}
td {
    color: black;
}
tr {
    background-color: #e7f0ed;
}
tr:nth-child(even) {
    background-color: #e7ffed;
}