@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

header {
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
}
main {
    padding: 100px;
    margin: auto;
}
h2 {
    margin: 0;
}
table, th, td {
    text-align: center;
}
table {
    margin: auto;
    background-color: #cccccc;
    box-shadow: 10px 10px 10px #628ca6;
}
th {
    font: bold;
    padding: 8px;
    text-align: center;
}
td {
    color: black;
    padding: 10px;
}
tr {
    background-color: #e7f0ed;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #e7ffed;
}