@media only screen and (min-width: 60em) {
    nav a {
        font-size: 1.1rem;
    }
    main {
        padding: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-family: 'Poppins', sans-serif;
    }
}