@media only screen and (min-width: 37.5em) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        text-align: center;
    }
    nav a {
        font-size: 1 rem;
    }
    article:nth-child(3) {
        grid-column: span 1;
    }
    main picture img {
        width: 100px;
        height: auto;
        border: 1px solid #bbb;
    }
}